body {  
    background-color: #A39155;
    display: flex;
    font-family: 'Playfair Display';
}
ul {
    list-style: none;
}
nav {
    display: block;
    width: 102.2%;
    height: 60px;
    margin: -21px;
    background-color: #160d0581;
    position: relative;
    z-index: 1;
    text-align: center;
}
li {
    display: inline-block;
    color: #C99559;
    font-size: 30px;
    margin-left: 20px;
    margin-right: 20px;
}
.logo {    
    position: absolute;
    z-index: 1;
    width: 70px;
    height: 70px;
    margin-top: -45px;
    margin-left: 20px;
}
.a1 {
    color: #C99559;
    text-decoration: none;
}
.top1 {
    width: 102.2%;
    height: 500px;
    margin: -21px;
    margin-top: -50px;
    filter: brightness(50%);
}
.top {
    height: 1000px;
    z-index: 1;
}
.top2 {
    width: 300px;
    height: 200px;
    margin-top: 40px;
    margin-left: 100px;
    margin-right: 20px;
    border-radius: 20px;
}
p {
    margin-left: -10px;
    color: #2F1905;
    font-size: 60px;
    margin-top: -35px;
    text-align: center;
    font-size: 23px;
}
h3 {
    text-align: center;
    color: #2F1905;
}
.top3 {
    width: 30px;
    height: 30px;
    margin-left: 38%;
}
.top4 {
    background-color: #7E6F3C;
    width: 102.2%;
    height: 180px;
    margin-left: -21px;
    margin-top: 70px;
}
.a2 {
    text-decoration: none;
    color: #2F1905;
}
@media (min-width: 421px) and (max-width: 1000px)
{
    nav {
        margin-top: -25px;
        width: 107.5%;
    }
    .logo {
        margin-left: -5px;
    }
    .top3 {
        margin-left: 40%;
    }
    h3 {
        margin-left: 100px;
    }
    p {
        margin-left: 100px;
        font-size: 19px;
    }
    .top2 {
        margin-left: 5px;
    }
    .top1 {
        width: 107.5%;
        height: 400px;
    }
    .top4 {
        width: 107.5%;
    }
}
@media screen and (max-width: 420px)
{
    .menu {
        position: fixed;
        z-index: 2;
    } 
    .logo {
        margin-left: 75%;
        margin-top: -13px;
        z-index: 1;
    }
    .top2 {
        margin-left: 50px;
    }
    .top3 {
        margin-left: 100px;
    }
    h3 {
        margin-left: 40px;
    }
    p {
        margin-left: 40px;
        font-size: 19px;
    } 
     nav {
        width: 107.5%;
    }
    .top1 {
        width: 107.5%;
        height: 300px;
    }
    .top4 {
        width: 107.5%;
    }
}
@media (min-width: 421px) {
    ul li {
        display: inline;
        margin-right: 3px;
        padding: 5px;
    }
}
#burger, [for = burger] {
    display: none;
}
@media screen and (max-width: 420px) {
    
    nav{
        display: none;
        background: none;
    }
    [for = burger] {
        display: block;
        z-index: 1;
    }
    #burger:checked+label+nav {
        display: block;
    }
    [for = burger]::before {
        content: "\2261";
        font-size: 20px;
        color: #C99559;
    }
    #burger:checked+[for = burger]::before {
        font-size: 20px;
        content: "\2716";
        color: #C99559;
    }
    ul li {
        list-style-type: none;
        background-color: #160d059d;
        width: 320px;
        text-align: center;
        margin-left: -35px;
        padding: 3px;
    }
}